@charset "UTF-8";

html {
    height: 100%;
    background-image: linear-gradient(45deg, #ffd1d9 16.67%, #cfedff 16.67%, #cfedff 33.33%, #fff 33.33%, #fff 50%, #ffd1d9 50%, #ffd1d9 66.67%, #cfedff 66.67%, #cfedff 83.33%, #fff 83.33%, #fff 100%);
    background-size: 84.85px 84.85px;
    /* background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
}

body {
    height: 100%;
    min-width: 80vw;
    margin: 0 auto;
}

header {
    width: 16em;
    height: 100%;
    position: fixed;
    z-index: 1;
    margin: 0 1em;
    padding-top: 3em;
    background-color: rgba(100, 185, 241, 0.75);
    overflow-y: auto;
}

header ul {
    padding: 0;
}

header nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 2.25em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    position: relative;
    float: left;    
    left: 20%;
    width: 70vw;
    min-height: 99vh;
}

.navbutton {
    position: fixed;
    z-index: 1;
    top: 1em;
    right: 1em;
    width: 50px;
    height: 50px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 50%;
}

.navbutton:hover {
    background-color: rgb(0, 160, 0);
}

.navbutton:active {
    background-color: darkgreen;
}

.logo {
    margin: 0 auto;
    display: block;
    width: 75%;
}

.detail {
    position: relative;
    margin: 2em 1em;
    padding: 2.5em 5em;
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    min-width: 95%;
    min-height: 70vh;
    border-radius: 20px;
}

.detail h1 {
    margin-bottom: 1.5em;
    color: rgb(0, 0, 68);
}

.detail h2 {
    color: rgb(0, 0, 68);
}

.detail h3 {
    color: rgb(0, 0, 68);
}

.detail h4 {
    color: rgb(0, 0, 68);
}

.detail h1::after {
    content: "";
    position: relative;
    display: block;
    top: 7px;
    width: 50px;
    height: 3px;
    background: #1185ba;
    bottom: 0;
    left: 0;
}

.detail h2::after {
    content: "";
    position: relative;
    display: block;
    top: 7px;
    width: 25px;
    height: 1.5px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.clear {
    clear: both;
}

footer {
    background-color: rgba(0, 112, 187, 0.3);
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 0 0;
    bottom: 0;
    clear: both;
}