@charset "UTF-8";

/*
 * Variables
 */

:root {
    --primary-color: slateblue;
    --accent-color: white;
    --background-color: lightcoral;
    --shadow-color: lightpink;
    --font-size-large: 36px;
    --font-size-medium: 24px;
    --content-gap: 1em;
    --nav-height: 5em;
    --footer-height: 48px;
}

/*
 * Global Settings
 */

html {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    min-width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*
 * Logo and Server Name
 */

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
    margin: 0;
    height: var(--nav-height);
    width: fit-content;
}

.profile .logo {
    height: var(--nav-height);
}

.profile a {
    text-decoration: none;
    color: var(--accent-color);
    position: relative;
    margin: 3vh 0;
    top: 0;
    left: 10px;
    text-align: center;
    font-size: 2em;
    /*text-shadow: white 1px 0 0, white 0 1px 0, white -1px 0 0, white 0 -1px 0;*/
}

/*
 * Navigation Bar
 */

nav {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--accent-color);
    text-align: right;
    z-index: 10;
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    margin: 1vh auto;
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline;
    text-shadow: var(--primary-color) 1px 0 0, var(--primary-color) 0 1px 0, var(--primary-color) -1px 0 0, var(--primary-color) 0 -1px 0;
    position: relative;
    margin: auto 8px;
}

nav ul li .fa {
    font-size: var(--font-size-medium);
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: var(--font-size-medium);
}

nav ul li a:hover {
    text-shadow: steelblue 1px 0 0, steelblue 0 1px 0, steelblue -1px 0 0, steelblue 0 -1px 0;
}

/*
 * Content
 */

.content {
    width: 70vw;
    position: relative;
    color: var(--accent-color);
    top: var(--nav-height);
    margin: var(--content-gap) 15vw calc(2 * var(--footer-height)) 15vw;
    flex: 1;
    box-shadow: var(--shadow-color) 1px 0 0, var(--shadow-color) 0 1px 0, var(--shadow-color) -1px 0 0, var(--shadow-color) 0 -1px 0;
}

.content>* {
    position: relative;
    top: 0;
    left: 0;
}

.content p,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: calc(0.35 * var(--content-gap)) var(--content-gap);
}

.content h1 {
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.content h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: var(--accent-color);
}

button {
    background-color: var(--accent-color);
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 5px;
}

button:hover {
    box-shadow: var(--shadow-color) 1px 0 0, var(--shadow-color) 0 1px 0, var(--shadow-color) -1px 0 0, var(--shadow-color) 0 -1px 0;
}

button:active {
    background-color: var(--primary-color);
    box-shadow: none;
}

input {
    background-color: var(--accent-color);
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 5px;
}

a {
    color: var(--primary-color);
}



/* Contents in Single Entry */

.entry>* {
    padding-left: var(--content-gap);
}

.entry h2 {
    margin: 0.5em auto;
}

.entry h2 i {
    margin-right: 0.5em;
}

/* h2 Upper and Lower Lines */

.entry h2::after,
.entry h2::before {
    content: '';
    background-color: var(--accent-color);
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
}

/*
 * Footer
 */

footer {
    height: var(--footer-height);
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 8px;
}

footer p {
    position: relative;
    margin: 0;
    height: 1em;
    top: calc(50% - 0.75em);
    text-align: center;
}

/*
 * Clear Float Effect
 */

.clear {
    clear: both;
}
